<link rel="stylesheet" href="/css/admin_home.css" />

<header>
    {{> each_page_header title="Dashboard" description="HomePage" }}
</header>

<div class="home">
    <div class="home__general">
        {{!-- General Card for Total Book --}}
        <div class="home__general__card">
            <div class="home__general__icon">
                <i class="fas fa-book icon__card"></i>
            </div>
            <div class="home__general__main">
                <div class="home__general__text">
                    <div class="home__general__title">
                        Total Book
                    </div>
                    <div class="home__general__value">
                        1
                    </div>
                    <div class="home__general__update">
                        Date: hehe
                    </div>
                </div>
                <div class="home__general__percent">
                    100%
                </div>
            </div>
        </div>

        {{!-- General Card for Total Income --}}
        <div class="home__general__card">
            <div class="home__general__icon">
                <i class="fas fa-dollar-sign icon__card"></i>
            </div>
            <div class="home__general__main">
                <div class="home__general__text">
                    <div class="home__general__title">
                        Total Income
                    </div>
                    <div class="home__general__value">
                        1.000.000 USD
                    </div>
                    <div class="home__general__update">
                        Date: hehe
                    </div>
                </div>
                <div class="home__general__percent">
                    100%
                </div>
            </div>
        </div>

        {{!-- General Card for Total Customer --}}
        <div class="home__general__card">
            <div class="home__general__icon">
                <i class="fas fa-user-friends icon__card"></i>
            </div>
            <div class="home__general__main">
                <div class="home__general__text">
                    <div class="home__general__title">
                        Total Customer
                    </div>
                    <div class="home__general__value">
                        1
                    </div>
                    <div class="home__general__update">
                        Date: hehe
                    </div>
                </div>
                <div class="home__general__percent">
                    100%
                </div>
            </div>
        </div>

        {{!-- General Card for Total Staff --}}
        <div class="home__general__card">
            <div class="home__general__icon">
                <i class="fas fa-user-tie icon__card"></i>
            </div>
            <div class="home__general__main">
                <div class="home__general__text">
                    <div class="home__general__title">
                        Total Staff
                    </div>
                    <div class="home__general__value">
                        1
                    </div>
                    <div class="home__general__update">
                        Date: hehe
                    </div>
                </div>
                <div class="home__general__percent">
                    100%
                </div>
            </div>
        </div>
    </div>

    <div class="home__recent">
        <div class="home__recent__body">
            {{#if books.length}}
            <div class="home__recent__table">
                <div class="home__recent__field home__recent__headerfield">
                    <div class="home__recent__attribute">Name</div>
                    <div class="home__recent__attribute">Kind</div>
                    <div class="home__recent__attribute">Author</div>
                    <div class="home__recent__attribute">Amount</div>
                </div>

                {{#each books}}
                <div class="home__recent__field home__recent__valuefield">
                    <div class="home__recent__attribute">
                        <span>{{this.bookName}}</span>
                    </div>
                    <div class="home__recent__attribute">
                        <span>{{join this.bookKind ", "}}</span>
                    </div>
                    <div class="home__recent__attribute">
                        <span>{{join this.bookAuthor ", "}}</span>
                    </div>
                    <div class="home__recent__attribute">
                        <span>{{this.bookCurrentAmount}}</span>
                    </div>
                </div>
                {{/each}}

                <div class="home__recent__field home__recent__valuefield">
                    <div class="home__recent__attribute">...</div>
                    <div class="home__recent__attribute">...</div>
                    <div class="home__recent__attribute">...</div>
                    <div class="home__recent__attribute">...</div>
                </div>
            </div>
            {{else}}
            {{> nothing_display description="No book found" }}
            {{/if}}
        </div>
    </div>
</div>