<link rel="stylesheet" href="/css/admin_product.css">
{{> each_page_header title="Booklist" description="BookPage" }}

<div class="booklist__body">
    <div class="booklist__search">
        <div class="booklist__search-header">
            <h2>Search</h2>
        </div>
        <div class="booklist__searchbar">
            <input type="text" placeholder="Search by name" />
            <button>
                <i class="fas fa-magnifying-glass icon__search"></i>
            </button>
        </div>

        <div class="booklist__search-header">
            <h2>Brands</h2>
        </div>
        <div class="booklist__filterkind">
            {{#each brands}}
            <div class="booklist__filterkind-item">
                <input type="checkbox" id="{{this}}" />
                <label for="{{this}}">{{this}}</label>
            </div>
            {{/each}}
        </div>

        <div class="booklist__search-header">
            <h2>Sort</h2>
        </div>

        <div class="booklist__sort">
            <button class="booklist__sort-item">
                <i class="fas fa-up-long icon__sort"></i>
                <div class="booklist__sort-nameitem">Price</div>
            </button>

            <button class="booklist__sort-item">
                <i class="fas fa-down-long icon__sort"></i>
                <div class="booklist__sort-nameitem">Price</div>
            </button>

            <button class="booklist__sort-item">
                <i class="fas fa-up-long icon__sort"></i>
                <div class="booklist__sort-nameitem">Name</div>
            </button>

            <button class="booklist__sort-item">
                <i class="fas fa-down-long icon__sort"></i>
                <div class="booklist__sort-nameitem">Name</div>
            </button>
        </div>
    </div>

    <div class="booklist">
        {{#each products}}
        <div class="booklist__item">
            <div class="booklist__icon">
                <div class="img__wrapper">
                    <img src="data:image/png;base64,{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </div>
            </div>

            <div class="booklist__header">
                <div class="booklist__bookname">
                    {{this.name}}
                </div>
            </div>

            <div class="booklist__content">
                <div class="booklist__price">
                    <span>
                        {{formatPrice this.price}} VND
                    </span>
                </div>

                <div class="booklist__detail">
                    Description: {{this.description}}
                </div>

                <div class="booklist__detail">
                    Latest updated date: {{formatDate this.updateDate}}
                </div>

                <div class="booklist__detail">
                    Brand: {{this.brand}}
                </div>

                <div class="booklist__detail">
                    Model: {{this.model}}
                </div>

                <div class="booklist__detail">
                    Amount: <span>1</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>