<!-- Banner Section -->
<section class="product_banner">
    <div class=".container-fluid">
        <div class="row banner__temp">
            <div class="col-12 col-md-12 img-container">
                <img src="data:image/png;base64,{{product.image}}" alt="CarBanner" class="img-fluid">
            </div>
            <div class="banner__des col-12 col-md-6">
                <h1>911 CARRERA GTS</h1>
                <p>Từ {{product.price}} VND • {{product.power}} PS • {{product.acceleration}} giây</p>
            </div>
        </div>
    </div>
</section>


<!-- Car Specifications -->
<section class="specifications">
    <div class="container">
        <div class="row">
            <div class="product_details col-md-12">
                <h2>THÔNG SỐ KỸ THUẬT</h2>
            </div>
        <div class="col-12 col-md-6">
            <img src="data:image/png;base64,{{product.image}}" alt="{{product.name}} Exterior" class="img-fluid exterior-car__image w-100 w-sm-90 w-md-80 w-lg-70 w-xl-60 w-xxl-50">
        </div>

            <div class="col-12 col-md-6">
                <table class="table specifications-table">
                    <tr>
                        <td class="detail">Công suất</td>
                        <td class="info">{{product.power}}</td>
                    </tr>
                    <tr>
                        <td class="detail">Mô-men xoắn cực đại</td>
                        <td class="info">{{product.torque}}</td>
                    </tr>
                    <tr>
                        <td class="detail">Tăng tốc từ 0 - 100 km/giờ</td>
                        <td class="info">{{product.acceleration}} giây</td>
                    </tr>
                    <tr>
                        <td class="detail">Tốc độ tối đa</td>
                        <td class="info">{{product.topSpeed}} km/giờ</td>
                    </tr>
                    <tr>
                        <td class="detail">Mức tiêu thụ kết hợp</td>
                        <td class="info">{{product.combinedConsumption}}</td>
                    </tr>
                    <tr>
                        <td class="detail">Lượng khí thải CO2</td>
                        <td class="info">{{product.CO2Emissions}}</td>
                    </tr>
                    <tr>
                        <td class="detail">Giá tiêu chuẩn</td>
                        <td class="info">{{product.price}}*</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h2 id="relatedCars">Các mẫu xe tương tự</h2>
            <!-- Related Cars -->
            <div class="col-lg-9 featured-cars">
                <hr class="newest-cars-divider">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-4">
                    {{#each sameProducts}}
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <a href="/product/product_details/{{this.id}}">
                                <img src="data:image/png;base64,{{this.image}}" class="card-img-top" alt="{{this.name}}">
                            </a>
                            <div class="card-body">
                                <a href="/product/product_details/{{this.id}}">
                                    <h5 class="card-title">{{this.name}}</h5>
                                </a>
                                <p class="card-text text-muted mb-1">{{this.price}}</p>
                                <p class="text-muted">{{this.description}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>