<!-- Banner Section -->
{{!-- <section class="product_banner">
    <div class=".container-fluid">
        <div class="row banner__temp">
            <div class="col-12 col-md-12 img-container">
                <img src="data:image/png;base64,{{product.image}}" alt="CarBanner" class="img-fluid">
            </div>
            <div class="banner__des col-12 col-md-6">
                <h1>911 CARRERA GTS</h1>
                <p>Từ {{product.price}} VND • {{product.power}} PS • {{product.acceleration}} giây</p>
            </div>
        </div>
    </div>
</section> --}}


<!-- Car Specifications -->
<section class="specifications">
    <div class="container">
        <div class="row">
            <div class="product_details col-md-12">
                <h2>SPECIFICATIONS</h2>
            </div>
            <div class="col-12 col-md-6">
                <img src="data:image/png;base64,{{product.image}}" alt="{{product.name}} Exterior"
                    class="img-fluid exterior-car__image w-100 w-sm-90 w-md-80 w-lg-70 w-xl-60 w-xxl-50">
            </div>

            <div class="col-12 col-md-6">
                <table class="table specifications-table">
                    <tr>
                        <td class="detail">Power</td>
                        <td class="info">{{product.power}}</td>
                    </tr>
                    <tr>
                        <td class="detail">Maximum torque</td>
                        <td class="info">{{product.torque}}</td>
                    </tr>
                    <tr>
                        <td class="detail">Acceleration (0 - 100 km/h)</td>
                        <td class="info">{{product.acceleration}}s</td>
                    </tr>
                    <tr>
                        <td class="detail">Maximum speed</td>
                        <td class="info">{{product.topSpeed}} km/h</td>
                    </tr>
                    <tr>
                        <td class="detail">Combined fuel consumption</td>
                        <td class="info">{{product.combinedConsumption}}</td>
                    </tr>
                    <tr>
                        <td class="detail">CO2 emissions</td>
                        <td class="info">{{product.CO2Emissions}}</td>
                    </tr>
                    <tr>
                        <td class="detail">Standard price</td>
                        <td class="info">{{formatPrice product.price}} VND</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


<div class="sameproduct">
    <div class="sameproduct__header">
        <h2 id="relatedCars">SAME PRODUCTS</h2>
        <hr class="newest-cars-divider">
    </div>
    <div class="cars-list">

        {{#each sameProducts}}

        <div class="card">
            <div class="card_img">
                <div class="card_img_fake1"></div>
                <a href="/product/product_details/{{this._id}}">
                    <img src="data:image/png;base64,{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>
            </div>

            <div class="card_content">
                <div class="card_price">
                    <div class="card_price_fake">
                        <div class="card_price_value">
                            {{this.price}}
                        </div>
                    </div>
                </div>

                <div class="card_detail">
                    <div class="card_title">
                        <a href="/product/product_details/{{this._id}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                    </div>
                    <div class="card_description">
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>