<section class="featured-cars-section py-5 bg-light">
    <div class="container">
        <div class="row">
            <h2 class="feature-cars__title display-4 text-dark text-center">Featured <span
                    class="text-warning">Cars</span></h2>
            <p class="text-center">Checkout the featured cars</p>
            <!-- Sidebar -->
            <div class="col-lg-3 mb-4">
                <div class="sidebar p-3 bg-light shadow">
                    <h4 class="text-dark">Search</h4>
                    <div class="mb-3">
                        <input id="search__bar__product" type="text" class="form-control" placeholder="Search by name" value="{{searchValue}}">
                        <button onclick="javascript:handleSearch()">+</button>
                    </div>
                    <h5 class="mt-4">Brand</h5> 
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <input type="checkbox" id="checkbox_bmw" {{#if (includes "bmw" selectedBrands)}}checked{{/if}}>
                        <label class="btn btn-outline-warning" for="checkbox_bmw">BMW</label>

                        <input type="checkbox" id="checkbox_ferrari" {{#if (includes "ferrari" selectedBrands)}}checked{{/if}}>
                        <label class="btn btn-outline-warning" for="checkbox_ferrari">Ferrari</label>

                        <input type="checkbox" id="checkbox_audi" {{#if (includes "audi" selectedBrands)}}checked{{/if}}>
                        <label class="btn btn-outline-warning" for="checkbox_audi">Audi</label>
                    </div>

                    <h5 class="mt-4">Price</h5>
                    <input type="range" class="form-range" min="1000" max="50000" value="{{selectedPrice}}">
                    
                    <h5 class="mt-4">Model</h5>
                    <div class="btn-group-toggle" data-toggle="buttons">

                        <input type="checkbox" id="checkbox_sedan" {{#if (includes "sedan" selectedBrands)}}checked{{/if}}>
                        <label class="btn btn-outline-warning" for="checkbox_sedan">Sedan</label>

                        <input type="checkbox" id="checkbox_suv" {{#if (includes "suv" selectedBrands)}}checked{{/if}}>
                        <label class="btn btn-outline-warning" for="checkbox_suv">SUV</label>

                        <input type="checkbox" id="checkbox_van" {{#if (includes "van" selectedBrands)}}checked{{/if}}>
                        <label class="btn btn-outline-warning" for="checkbox_van">Van</label>
                    </div>
                    <h5 class="mt-4">Sort</h5>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <input type="radio" name="sort" id="sort_price_asc" {{#if (eq selectedSort "sort_price_asc")}}checked{{/if}}>
                        <label class="btn btn-outline-warning" for="sort_price_asc">Price ↑</label>

                        <input type="radio" name="sort" id="sort_price_desc" {{#if (eq selectedSort "sort_price_desc")}}checked{{/if}}>
                        <label class="btn btn-outline-warning" for="sort_price_desc">Price ↓</label>
                        <button onclick="javascript:handleFilter()">+</button>

                    </div>
                </div>
            </div>

            <!-- Featured Cars -->
            <div class="col-lg-9 featured-cars">

                <hr class="newest-cars-divider">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-4">
                    {{#each products}}
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <a href="/product/product_details/{{this._id}}">
                                <img src="data:image/png;base64,{{this.image}}" class="card-img-top"
                                    alt="{{this.name}}">
                            </a>
                            <div class="card-body">
                                <a href="/product/product_details/{{this._id}}">
                                    <h5 class="card-title">{{this.name}}</h5>
                                </a>
                                <p class="card-text text-muted mb-1">{{this.price}}</p>
                                <p class="text-muted">{{this.description}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>